<head>
    <!-- Site Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/logo.jpeg">
    <title>Ivy Tech Community College</title>

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../style.css">

    <!-- Javascript -->
     <script src="../../main.js" defer></script>
</head>